registry=https://registry.npmmirror.com

// Electron
target=24.4.0
arch=x64
target_arch=x64
runtime=electron
build_from_source=true
disturl=https://atom.io/download/electron
electron_mirror=https://npmmirror.com/mirrors/electron/